# fly.toml app configuration file generated for pingpong on 2025-10-18T13:34:12+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pingpong'
primary_region = 'fra'

[build]

[env]
  ASPNETCORE_ENVIRONMENT = 'Production'
  DOTNET_GCConserveMemory = '9'
  DOTNET_GCHeapCount = '2'
  Database__Provider = 'PostgreSQL'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/'

[deploy]
  release_command = 'dotnet PingPong.Api.dll --migrate-db'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
