/* Responsive visibility */
.standings-desktop {
    display: block;
}

.standings-mobile {
    display: none;
}

@media (max-width: 599.95px) {
    .standings-desktop {
        display: none;
    }

    .standings-mobile {
        display: block;
    }
}
