@page "/Error"
@using System.Diagnostics

<PageTitle>Fel</PageTitle>

<h1 class="text-danger">Fel.</h1>
<h2 class="text-danger">Ett fel uppstod när din begäran behandlades.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Begäran-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Utvecklingsläge</h3>
<p>
    Att byta till <strong>Development</strong>-miljö visar mer detaljerad information om felet.
</p>
<p>
    <strong>Utvecklingsmiljön bör inte användas i produktion.</strong>
    Den kan visa känslig information från undantag för slutanvändare.
    För lokal felsökning, aktivera <strong>Development</strong> genom att sätta miljövariabeln <strong>ASPNETCORE_ENVIRONMENT</strong> till <strong>Development</strong>
    och starta om appen.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
